/*------------------------------------*\
  #FOOTER STYLES
\*------------------------------------*/
.site-footer {
  background-color: $light-grey;
}

.site-footer__content {
  padding: 5rem 0;

  &:not(.container) {
    @include lateral-paddings();

    @media (#{$column-starts-at-breakpoint}) {
      @include lateral-paddings(5rem);
    }
  }
}



.site-info {
  margin-top: 5rem;
  text-align: center;
}
  